$color-pink: #F063B8;
$color-blue: #212353;
$color-purp: #9C69E2;
$color-black: #0000;
$color-wtite: #ffff;
$color-gray: #4B5D68;
$color-tiffany: #68C9BA;
$rgba-purp: rgba(156, 105, 226, 1);
$backg-html: #E5E5E5;
$wrap-grad: #F6FAFD;
$box-shad-btn: rgba(75, 93, 104, 0.1);

// fonts
$ff-Roboto: 'Roboto', sans-serif;
$ff-Monserrat:'Montserrat', sans-serif;
