@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Roboto:wght@400;700&display=swap");
html {
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  height: 4500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6FAFD), color-stop(19.4%, white));
  background: linear-gradient(180deg, #F6FAFD 0%, white 19.4%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1248px;
  width: 100%;
  height: 56px;
  margin-bottom: 134px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-left: -365px;
}

/* Style the navigation bar links */
.navbar a {
  color: #4B5D68;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

/* Change color on hover */
.navbar a:hover {
  color: rgba(0, 0, 0, 0);
}

.section-1 {
  margin: 0 176px 0;
  padding-top: 100px;
  height: 754px;
  max-width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
  margin-bottom: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  max-width: 380px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 50px;
}

.image1-1 {
  position: absolute;
  left: 650px;
  top: 386px;
  max-width: 885px;
}

img {
  max-width: 100%;
}

.button-white {
  background: white;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  width: 234px;
  height: 56px;
  border: none;
}

.button-request-demo {
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}

/* Changes on hover */
.button-white :hover {
  -webkit-box-shadow: 0px 10px 10px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 10px 10px rgba(75, 93, 104, 0.1);
  color: rgb(156, 105, 226);
}

span {
  color: rgb(156, 105, 226);
  padding-left: 22px;
}

.button-color {
  width: 170px;
  height: 60px;
  background: #9C69E2;
  border-radius: 50px;
  border: none;
}

.button-learn-more {
  font-family: "Avenir";
  font-weight: 800;
  font-size: 18px;
  color: white;
}

/* Change on hover */
.button-color:hover {
  -webkit-box-shadow: 0px 5px 5px #F063B8;
          box-shadow: 0px 5px 5px #F063B8;
  color: #9C69E2;
}

.section-2 {
  max-width: 1117px;
  width: 100%;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin-left: 240px;
  margin-top: 49.18px;
}

.image2 {
  position: absolute;
  left: 251px;
  top: 935px;
}

.text {
  position: absolute;
  left: 790px;
  top: 1028.18px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
  margin: 0 0 40px 0;
}

.section-3 {
  position: absolute;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
}

.section-3-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 584px;
  margin-left: 288px;
}

.section-3-title p {
  max-width: 584px;
}

.section-3-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.features-block-1 {
  max-width: 531.29px;
  height: 388px;
}

#image3-1, #background3-1 {
  position: relative;
}

#image3-1 {
  width: 232px;
  height: 211px;
  top: -300px;
}

#background3-1 {
  margin-left: 90px;
}

.features-block-2 {
  height: 394.56px;
}

#background3-2, #image3-2 {
  position: relative;
}

#image3-2 {
  width: 232px;
  height: 211px;
  top: -330px;
  left: 50px;
}

#background3-2 {
  margin-left: 145px;
  margin-top: 32px;
}

.features-block-3 {
  height: 358px;
  margin-top: 50px;
}

#background3-3, #image3-3 {
  position: relative;
}

#image3-3 {
  width: 232px;
  height: 211px;
  top: -240px;
}

#background3-3 {
  margin-left: 90px;
  height: 358px;
}

.features-block-4 {
  height: 364px;
  margin-top: 50px;
}

#background3-4, #image3-4 {
  position: relative;
}

#image3-4 {
  top: -290px;
  left: 50px;
  width: 230px;
  height: 201px;
}

#background3-4 {
  margin-left: 145px;
}

.section-4 {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: #9C69E2;
  border-radius: 50px;
}

.section-4-title {
  color: white;
  margin-left: 93px;
  margin-top: 109px;
}

.section-4-container {
  display: block;
  width: 645px;
  height: 330px;
  background: white;
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
          box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  margin-left: 236px;
  margin-top: 85px;
}

.section-4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-left: 70px;
}

.content-photo {
  padding-right: 30px;
}

.content-text h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #212353;
  margin: 20px 0 0;
}

.content-text a {
  text-decoration: none;
  font-size: 14px;
  line-height: 160%;
  color: #9C69E2;
}

.content-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: block;
  width: 385px;
  height: 130px;
  font-size: 18px;
  color: #4B5D68;
}

.section-5 {
  position: absolute;
  width: 1600px;
  height: 761px;
  left: 0px;
  top: 3648px;
}

hr {
  width: 1600px;
  height: 2px;
  left: 0px;
  top: 3648px;
  background: #9C69E2;
  opacity: 0.2;
}

.section-5-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-5-title {
  margin-left: 240px;
  margin-top: 100px;
}

.section-5-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.section-5-title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #4B5D68;
}

.section-5-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 150px;
  margin-left: 380px;
}

.section-5-btns .button-color {
  background: #F063B8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  position: absolute;
  width: 1117px;
  height: 408px;
  left: 240px;
  top: 4001px;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  height: 35px;
  margin-bottom: 67px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin-top: 0;
}

.company-number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #212353;
  padding-top: 40px;
}

.grid-container {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 14px;
  margin-top: 30px;
}

.f-svg {
  width: 50px;
  height: 50px;
  background: url("../assets/icons/f.svg");
  color: #F063B8;
}

.t-svg {
  width: 50px;
  height: 50px;
  background: url("../assets/icons/t.svg");
}

.i-svg {
  width: 50px;
  height: 50px;
  background: url("../assets/icons/i.svg");
}

.social p {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212353;
}

.help p {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212353;
  width: 166px;
  margin-right: 50px;
}

.about p {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212353;
  width: 166px;
  margin-right: 50px;
}

.data {
  width: 335px;
  margin-right: 140px;
}