@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap');
@import "./variables";
@import "../css/normalize.css";



* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: $ff-aleo, $ff-josefin;
    margin: 0 auto;
    width: 1920px;
    color: $color-white;
    transition: all .2s ease-in;
  }

// header
.header {
    width: 100%;
    height: 862px;
    background: url(../assets/imgs/HeaderBackground.png);

    &__title {
        text-align: center;
        font-family: $ff-josefin;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;
        padding-top: 295px;
        margin: 0 0 8px 0;
}
    &__text {
        text-align: center;
        font-family: $ff-josefin;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
        margin: 0;
}
}
.form-search {
    width: 647px;
    height: 60px;
    align-items: center;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;

&__search {
    width: 277px;
    height: 20px;
    font-family: $ff-josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: $color-grey;
    border: none;
    margin-left: 36px;
}
&__submit {
width: 139px;
height: 52px;
background: $background-blue;
margin: 4px 5px 4px 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 18px 0 24px;
font-family: $ff-aleo;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: $color-white;
cursor: pointer;
border: none;
}
}

// nav
.nav {
width: 100%;
height: 84px;
background: $background-blue;

&__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: $section-content-left;
    margin-right: $section-content-right;
}
&__logo {
    font-family: $ff-josefin;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
&__list {
    display: flex;
    gap: 40px;
    list-style: none;
}
a {
    font-family: $ff-aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
}
}

// main
.why-section {
    width: 100%;
    height: 704px;
    background: url(../assets/imgs/WhyBackground.png);

    &__container {
        display: grid;
        grid-template-columns: auto auto;
        width: 1320px;
        height: 100%;
        gap: 136px;
        align-items: center;
        margin-left: $section-content-left;
    }
        &__content {
            width: 648px;
            height: 324px;
        }
            h2 {
                font-family: 'Aleo';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                text-transform: capitalize;
            }
            p {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.1em;
            }
&__btn{
    width: 213px;
    height: 60px;
    background: $background-blue;
    font-family: $ff-aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-white;
    border: none;
    cursor: pointer;
}
&__images {
        width: 424px;
        height: 456px;


        &__img-1 {
            width: 350px;
            height: 220px;
        }
        &__img-2 {
            width: 100%;
            padding: 16px 0 0 74px;
        }
    }
}

// steps
.section-steps {
    width: 100%;
    height: 306px;
    background-color:$dark-grey;

    &__container {
        width: 1320px;
        height: 306px;
        margin-left: $section-content-left;

        &__icons {
            display: flex;
            gap: 24px;
           
        }
        &__icon-box {
            width: 424px;
            height: 139px;
            text-align: center;
        }

        &__line {
            width: 872px;
            height: 90px;
            margin-left: 224px;
        }
    }
}

// book-now-1
.section-booknow-1 {
    width: 100%;
    height: 684px;
    background: url(../assets/imgs/BG-booknow.png);
}

.section-booknow-2 {
    width: 100%;
    height: 684px;
    background: url(../assets/imgs/BG-booknow-2.png);
}

.section-what {
    width: 100%;
    height: 680px;
    background: url(../assets/imgs/BG-section-what.png);
}

.footer-section {
    width: 100%;
    height: 268px;
    background-color: black;

}