@import "./styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:wght@400;500;600&display=swap');

@import "./files.scss/variables.scss";
@import "./files.scss/fonts.scss";

body {
    background: $body-button-social-color;
    margin: 8px;
    max-width: 100%;
}
// HEADER
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: $fff-color;
    width: 1440px;
}

.main-container {
    position: relative;
    background: $fff-color;
    width: 1440px;
    height: 4018px;
    padding-top: 0.1px;
}

.logo {
    margin-left: 135px;
}

.links {
    gap: 42px;
    width: 500px;
    display: inline-flex;
    list-style: none;
    margin: 0 -235px 0 0;
}

a {
    text-decoration: none;
    font-family: $item-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $black-color;
}

a :hover {
    text-decoration: underline;
    background-color: $black-color;
}

.search {
    width: 17px;
    height:16px;
    margin-right: 135px;
}

.first-screen {
    display: block;
    width: 1440px;
    height: 600px;
}
.text-first-screen {
    position: absolute;
    margin-left: 135px;
    margin-top: 100px;
    font-family: $title-font;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $black-color;
}

// section-blog

.section-blog {
display: block;
}

.title-blog {
    font-family: $title-font;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 48px;
    margin: 0 0 0 135px;
    padding: 90px 0 50px 0;
}

.grid-blog {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 30px;
    flex-direction: row;
    width: 1170px;
    height: 1104px;
    margin-left: 135px;
}
.grid-item {
    width: 570px;
    height: 470px;
}

.info-part-one {
    display: block;
    width: 450px;
    height: 300px;
    // margin-right: 120px;
}

.info-part-second {
    margin-left: 120px;
}

.tag {
    font-family: $item-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $gray-color;
    padding-top: 85px;
    margin: 0;
}
.date {
    font-family: $item-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $gray-color;
    margin: 15px 0 0 0;
}
.title-info {
    font-family: $title-font;
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black-color;
    margin: 30px 0 0 0;
}

.description-info {
    font-family: $item-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: $dark-gray-color;
    padding-top: 50px;
    margin: 0;
}

// section-post

.title-post-popular {
    font-family: $title-font;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black-color;
}

.text-post-popular {
    font-family: $item-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: $dark-gray-color;
}

.heading-section {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-left: 135px;
}
h2 {
    font-family: $title-font;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black-color;
    margin-bottom: 50px;
    }

    h6 {
        font-family: $item-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: $gray-color;
        margin-bottom: 50px;
    }

span {
    color: $gray-color;
}

    .posts-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 1170px;
        height: 500px;
        margin-left: 135px;
        gap: 30px;
    }

.post-content-1 {
    display: block;
    width: 370px;
    height: 156px;
}

    .heading { 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-family: $item-font;
        font-weight: 400;
        font-size: 12px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: $gray-color;
    }

.post-content-2 {
    display: block;
    width: 370px;
    height: 189px;
}

.post-content-3 {
    display: block;
    width: 370px;
    height: 178px;
}

.articles-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 1170px;
    height: 500px;
    margin-left: 135px;
    gap: 30px;
}

// button

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 46px;
    background-color: $dark-gray-color;
    margin-left: 630px;
    color: $body-button-social-color;
    margin-top: 54px;
}

.btn-text {
    font-family: $item-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $fff-color;
    background-color: $dark-gray-color;
    border: none;
}
.btn-text :hover {
    color: $fff-color;
}

.btn :hover {
    background: $background-button;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    margin-top: 90px;
    width: 1170px;
    height: 192px;
}

.full-time {
    display: block;
    width: 470px;
    height: 76px;
    font-family: $title-font;
    font-weight: 400;
    font-size: 23px;
    line-height: 166%;
    color: $black-color;
}
.text-info {
    display: block;
    width: 470px;
    height: 192px;
    font-family: $item-font;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: $dark-gray-color;
}

// footer
.footer {
    width: 1440px;
    height: 300px;
    background: $footer-color;
    margin-top: 90px;
}

.footer-section {
    display: flex;
    justify-content: space-between;

}
.CTA {
    display: block;
    margin-left: 135px;
} 

.text-item {
    font-family: $title-font;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $black-color;
    margin-top: 70px;
}
.contacts {
    font-family: $item-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black-color;
}

.last-text {
    font-family: $item-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black-color;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    max-height: 50px;
    margin-right: 135px;
    margin-top: 125px;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    border: 1px solid $dark-gray-color;
    cursor: pointer;
    box-shadow: 0 0 2px $black-color;
    }

.icon :hover {
    fill: $body-button-social-color;
}


.social :hover {
    background-color: $gray-color;
    border-color: $body-button-social-color;
}

