@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
@import "../css/normalize.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: "Aleo", serif, "Josefin Sans", sans-serif;
  width: 100%;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header {
  width: 100%;
  height: 862px;
  background: url(../assets/imgs/HeaderBackground.png);
}
.header__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  padding-top: 295px;
  margin: 0 0 8px 0;
}
.header__text {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin: 0;
}

.form-search {
  width: 647px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 48px;
}
.form-search__search {
  width: 277px;
  height: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  border: none;
  margin-left: 36px;
}
.form-search__submit {
  width: 139px;
  height: 52px;
  background: #5373FD;
  margin: 4px 5px 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 24px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.form-search__submit:hover {
  opacity: 0.8;
}

.nav {
  max-width: 1920px;
  width: 100%;
  padding: 32px 0;
  background: #5373FD;
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}
.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav a {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__list_mobile {
  display: none;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 24px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger.active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger.active span:nth-child(1) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(35deg) translateX(17px);
          transform: rotate(35deg) translateX(17px);
}

.burger.active span:nth-child(2) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.burger.active span:nth-child(3) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-44deg) translateX(17px);
          transform: rotate(-44deg) translateX(17px);
}

.burger span {
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
}

.why-section {
  width: 100%;
  height: 704px;
  background: url(../assets/imgs/WhyBackground.png);
}
.why-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1320px;
  max-width: calc(100% - 64px);
  height: 100%;
  gap: 136px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.why-section h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}
.why-section p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.why-section__btn {
  width: 213px;
  height: 60px;
  background: #5373FD;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.why-section__btn:hover {
  opacity: 0.8;
}
.why-section__images {
  width: 424px;
  height: 456px;
}
.why-section__images__img-1 {
  width: 350px;
  margin-right: 16px;
}
.why-section__images__img-2 {
  width: 350px;
  margin-left: 16px;
  margin-top: 16px;
}

.section-steps {
  width: 100%;
  height: 306px;
  background-color: #333333;
}
.section-steps__container {
  width: 1320px;
  max-width: 100%;
  height: 306px;
  margin: 0 auto;
  position: relative;
  padding-top: 107px;
}
.section-steps__container__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.section-steps__container__icon-box {
  width: 424px;
  height: 139px;
  text-align: center;
}
.section-steps__container__icon-box h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin: 0;
}
.section-steps__container__line {
  width: 80%;
  height: 90px;
  left: 85px;
  position: absolute;
  top: 10px;
}
.section-steps__container__line img {
  max-width: 100%;
}

.section-booknow-1 {
  width: 100%;
  height: 684px;
  background: url(../assets/imgs/BG-booknow.png);
}
.section-booknow-1__container {
  width: 1320px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-booknow-1__container__card {
  width: 648px;
  height: 344px;
  background: rgba(35, 35, 35, 0.9);
  margin-top: 220px;
  padding-left: 32px;
}

.section-booknow-2 {
  width: 100%;
  height: 684px;
  background: url(../assets/imgs/BG-booknow-2.png);
}
.section-booknow-2__container {
  width: 1320px;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-booknow-2__container__card {
  width: 648px;
  height: 344px;
  background: rgba(35, 35, 35, 0.9);
  margin-top: 220px;
  padding-left: 32px;
}

.text-h6 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 16px;
}

.text-h5 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 16px;
}

.text-p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 24px;
}

.section-what {
  width: 100%;
  height: 680px;
  background: url(../assets/imgs/BG-section-what.png);
}
.section-what__text-title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  padding: 120px 0 60px;
  margin: 0;
}
.section-what__container-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-what__container-review__review-photo {
  max-width: 440px;
  width: 100%;
  height: 280px;
}
.section-what__container-review__text-review {
  background-color: #333333;
  padding-left: 60px;
  padding-right: 65px;
}
.section-what__container-review__text-review h5 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 48px 0 11.25px;
}
.section-what__container-review__blockquote p {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.footer-section {
  width: 100%;
  height: 268px;
  background-color: black;
}
.footer-section h3 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 8px;
}
.footer-section p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.socials {
  max-width: 275px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  margin: 0 auto;
}
.socials__icons:hover {
  width: 36px;
  height: 36px;
  background-color: #5373FD;
  fill: black;
}

@media (min-width: 1025px) {
  .nav__container,
.why-section__container,
.section-steps__container,
.section-what__container-review,
.section-booknow-1__container,
.section-booknow-2__container {
    width: calc(100% - 220px);
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .nav__container,
.why-section__container,
.section-steps__container,
.section-what__container-review,
.section-booknow-1__container,
.section-booknow-2__container {
    width: calc(100% - 64px);
    margin: 0 auto;
  }
  .section-what__container-review__review-photo {
    width: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 336px;
  }
}
@media (max-width: 768px) {
  .why-section {
    height: auto;
    padding: 60px 0;
  }
  .why-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    gap: 32px;
  }
  .why-section__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    gap: 24px;
  }
  .why-section__images img {
    width: 325px;
    margin: 0;
  }
  .section-steps {
    height: auto;
  }
  .section-steps__container {
    height: auto;
    padding: 60px 0;
  }
  .section-steps__container__line {
    display: none;
  }
  .section-steps__container__icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-steps__container__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-booknow-1,
.section-booknow-2 {
    height: auto;
    padding: 120px 0;
  }
  .section-booknow-1__container__card,
.section-booknow-2__container__card {
    width: 100%;
  }
  .section-booknow-1__container__card,
.section-booknow-2__container__card {
    margin-top: 0;
  }
  .section-what {
    height: auto;
    padding: 60px 0 120px;
  }
  .section-what__text-title {
    padding: 0 0 60px;
  }
  .section-what__container-review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-what__container-review__review-photo {
    max-width: 100%;
    width: 100%;
    height: 336px;
  }
  .section-what__container-review__text-review {
    padding: 48px 60px;
  }
  .section-what__container-review__text-review h5 {
    padding-top: 0;
  }
}
@media (max-width: 900px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__list_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
  }
  .nav__list_mobile li {
    list-style: none;
  }
  .nav__list_mobile,
.nav__list {
    display: none;
  }
  .nav__list_mobile.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}