@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Roboto:wght@400;500&display=swap');

body {
    background: #E5E5E5;
}

.main {
    position: relative;
    width: 1440px;
    height: 5565px;
    background: #FFFFFF;
}

.text-1 {
    font-family: 'Delius Unicase';
    font-weight: 400; 
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: absolute;
    width: 644px;
    height: 45px;
    top: 120px;
    left: 397px;
}

/* Grid - 1 */

.grid-1 {
    display: grid;
    grid-template-areas: "a b b"
                         "c c d"
                         "e f f";
}

.grid-item-first {
    grid-area: a;    
    position: absolute;
    width: 370px;
    height: 370px;
    left: 135px;
    top: 245px;
}
.image-1-1 {
border-radius: 20px;
opacity: 0.8;
}
.image-1-1:hover {
    opacity: 1;
}
.text-element {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    top: 327px;
    padding-left: 20px;
}
.date {
    font-family: 'Roboto';
    font-weight: 400;
    padding-left: 240px;
    position: absolute;
    top: 327px;
    font-weight: 400;
    font-size: 16px;
    color: #E0E0E0;
}
   .grid-item-second {
    grid-area: b;
    position: absolute;
    width: 770px;
    height: 370px;
    left: 535px;
    top: 245px;
   }
   .image-2-1 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-2-1:hover {
        opacity: 1;
    }
    .date-big {
        font-family: 'Roboto';
        font-weight: 400;
        padding-left: 616px;
        position: absolute;
        top: 327px;
        font-weight: 400;
        font-size: 20px;
        color: #E0E0E0;
    }

   .grid-item-third {
    grid-area: c;
    position: absolute;
    width: 770px;
    height: 370px;
    left: 135px;
    top: 645px;
   }
   .image-3-1 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-3-1:hover {
        opacity: 1;
    }

   .grid-item-fourth {
    grid-area: d;
    position: absolute;
    width: 370px;
    height: 370px;
    left: 935px;
    top: 645px; 
   }
   .image-4-1 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-4-1:hover {
        opacity: 1;
    }

   .grid-item-fifth {
    grid-area: e;
    position: absolute;
    width: 370px;
    height: 370px;
    left: 135px;
    top: 1045px;
}
.image-5-1 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-5-1:hover {
        opacity: 1;
    }

   .grid-item-sixth {
    grid-area: f;         
    position: absolute;
    width: 770px;
    height: 370px;
    left: 535px;
    top: 1045px;
}
.image-6-1 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-6-1:hover {
        opacity: 1;
    }

.text-2 {
    font-family: 'Delius Unicase';
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: absolute;
    width: 531px;
    height: 45px;
    left: 454px;
    top: 1535px;
} 

/* Grid-2 */

.grid-2 {
    display: grid;
    grid-template-areas: "g h h"
                         "i i j"
                         "i i j"
                         "k k l";
}

.grid-item-one {
    grid-area: g;    
    position: absolute;
    width: 370px;
    height: 370px;
    left: 135px;
    top: 1660px;
}
.image-1-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-1-2:hover {
        opacity: 1;
    }

   .grid-item-two {
    grid-area: h;
    position: absolute;
    width: 770px;
    height: 370px;
    left: 535px;
    top: 1660px;    
   }
   .image-2-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-2-2:hover {
        opacity: 1;
    }

   .grid-item-three {
    grid-area: i;
    position: absolute;
    width: 770px;
    height: 770px;
    left: 135px;
    top: 2060px;
   }
   .image-3-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-3-2:hover {
        opacity: 1;
    }

   .grid-item-four {
    grid-area: j;
    position: absolute;
    width: 370px;
    height: 770px;
    left: 935px;
    top: 2060px;
   }
   .image-4-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-4-2:hover {
        opacity: 1;
    }

   .grid-item-five {
    grid-area: k;
    position: absolute;
    width: 770px;
    height: 370px;
    left: 135px;
    top: 2860px;
}
.image-5-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-5-2:hover {
        opacity: 1;
    }

   .grid-item-six {
    grid-area: l;         
    position: absolute;
    width: 370px;
    height: 370px;
    left: 935px;
    top: 2860px;
}
.image-6-2 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-6-2:hover {
        opacity: 1;
    }

.text-3 {
    font-family: 'Delius Unicase';
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: absolute;
    width: 814px;
    height: 45px;
    left: 312px;
    top: 3350px;
}

/* Grid - 3 */

.grid-3 {
    display: grid;
    grid-template-areas: "m n o"
                         "p n q"
                         "r s q"
                         "r t t"
                         "u u v";
}

.grid-item-1 {
    grid-area: m;    
    position: absolute;
    width: 370px;
    height: 370px;
    left: 135px;
    top: 3475px;
}
.image-1-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-1-3:hover {
        opacity: 1;
    }

   .grid-item-2 {
    grid-area: n;
    position: absolute;
    width: 370px;
    height: 770px;
    left: 535px;
    top: 3475px;
   }
   .image-2-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-2-3:hover {
        opacity: 1;
    }

   .grid-item-3 {
    grid-area: o;
    position: absolute;
    width: 370px;
    height: 370px;
    left: 935px;
    top: 3475px;
   }
   .image-3-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-3-3:hover {
        opacity: 1;
    }

   .grid-item-4 {
    grid-area: p;
    position: absolute;
    width: 370px;
    height: 370px;
    left: 135px;
    top: 3875px;
   }
   .image-4-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-4-3:hover {
        opacity: 1;

    }
   .grid-item-5 {
    grid-area: q;
    position: absolute;
    width: 370px;
    height: 770px;
    left: 935px;
    top: 3875px;
}
.image-5-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-5-3:hover {
        opacity: 1;
    }

   .grid-item-6 {
    grid-area: r;         
    position: absolute;
    width: 370px;
    height: 770px;
    left: 135px;
    top: 4275px;
}
.image-6-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-6-3:hover {
        opacity: 1;
    }

.grid-item-7 {
    grid-area: s;         
    position: absolute;
    width: 370px;
    height: 370px;
    left: 535px;
    top: 4275px;
}
.image-7-3 {
    border-radius: 20px;
    opacity: 0.8;
    }
    .image-7-3:hover {
        opacity: 1;
    }

.grid-item-8 {
    grid-area: t;         
    position: absolute;
    width: 770px;
    height: 370px;
    left: 535px;
    top: 4675px;
}
.image-8-3 {
    border-radius: 20px;
    opacity: 0.8;
    } 
    .image-8-3:hover {
        opacity: 1;
    }

.grid-item-9 {
    grid-area: u;         
    position: absolute;
    width: 770px;
    height: 370px;
    left: 135px;
    top: 5075px;
}
.image-9-3 {
    border-radius: 20px;
    opacity: 0.8;
    }  
    .image-9-3:hover {
        opacity: 1;
    }

.grid-item-10 {
    grid-area: v;         
    position: absolute;
    width: 370px;
    height: 370px;
    left: 935px;
    top: 5075px;
}
.image-10-3 {
    border-radius: 20px;
    opacity: 0.8;
    } 
    .image-10-3:hover {
        opacity: 1;
    }