@media screen and (max-width: 1360px) {
    .img-2 {
        padding-left: 111px;
}
.line {
    width: 752px;
    height: 69px;
}
}

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

@media screen and (max-width: 576px) {

    .container-steps {
        flex-direction: column;
    }
}