// fonts
$ff-josefin: 'Josefin Sans', sans-serif;
$ff-aleo: 'Aleo', serif;

// colors
$color-white: #FFFFFF;
$dark-grey: #333333;


// background
$background-body: #E5E5E5;
$background-blue: #5373FD;

// width
$container-content-width: 1320px;
$container-block-width: 1920px;
